@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter {
  font-family: "Inter", serif;
}
* {
  margin: 0;
  padding: 0;
}
/* shared style */
.primary-color1 {
  color: rgb(255, 255, 255);
}
.primary-color2 {
  color: rgb(255, 255, 255, 0.7);
}
.primary-color3 {
  color: rgb(230, 83, 60);
}
.btn-primary {
  background-color: rgb(230, 83, 60);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
/* banner styles */
.banner {
  width: 100%;
  height: 100vh;
  background-color: rgb(32, 32, 32);
}
/* nav styles */
.nav {
  max-width: 1200px;
  height: 20vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.nav-title {
  font-size: 2rem;
  text-align: left;
  font-weight: 800;
}
.nav li {
  list-style: none;
}
.nav a {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.7);
}
/* banner container styles */
.banner-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  gap: 20px;
}
.banner-image-div {
  width: 30%;
  height: 100%;
}
.banner-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner-title {
  font-size: 4rem;
  font-weight: 900;
}
.banner-btn-div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.download-btn {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
}
.three-hundred-plus {
  margin-top: -200px;
  margin-left: -50px;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgb(230, 83, 60);
  border-radius: 5px;
}
.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(230, 83, 60);
}
