@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter {
  font-family: "Inter", serif;
}
* {
  margin: 0;
  padding: 0;
}
/* shared style */
.primary-color1 {
  color: rgb(255, 255, 255);
}
.primary-color2 {
  color: rgb(255, 255, 255, 0.7);
}
.primary-color3 {
  color: rgb(230, 83, 60);
}
.btn-primary {
  background-color: rgb(230, 83, 60);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
/* header section */
/* banner styles */
.banner {
  background-color: rgb(32, 32, 32);
}
/* nav styles */
.nav {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-icon {
  display: none;
}
.nav-menu {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-title {
  font-size: 2rem;
  font-weight: 800;
}
.nav li {
  list-style: none;
}
.nav a {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.7);
}
/* banner container styles */
.banner-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content-1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.banner-content-2 {
  position: relative;
}
.banner-title {
  font-size: 4rem;
  font-weight: 900;
}
.banner-btn-div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.download-btn {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
}
.five-hundred-plus {
  width: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  position: absolute;
  left: 220px;
  top: 120px;
  background: rgba(255, 255, 255, 0.1);
}
.five-hundred-plus p {
  font-size: 0.8rem;
}
.three-hundred-plus {
  width: 170px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  position: absolute;
  bottom: 100px;
  left: -100px;
  background: rgba(255, 255, 255, 0.1);
}
.three-hundred-plus p {
  font-size: 0.8rem;
}
.circle {
  font-size: 2rem;
  color: rgb(230, 83, 60);
}
/* main section */
main {
  background-color: rgb(0, 0, 0);
}
/* change your habit section styles */
.habit-title {
  padding-top: 50px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
}
.habit-subtitle {
  padding-bottom: 50px;
  text-align: center;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}
.habit-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 50px 0;
}
.habit-image {
  border-radius: 50%;
}
.habit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.habit-card-title {
  font-size: 1.2rem;
  font-weight: 600;
}
.habit-card-subtitle {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}

/* run and extra section  styles*/
.run-and-extra-container {
  max-width: 1200px;
  margin: 100px auto 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}
.run-and-extra-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.run-title {
  font-size: 2.5rem;
  font-weight: 900;
}
.run-subtitle {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  width: 70%;
}
.join-now-btn {
  width: 30%;
}
.run-image-div {
  width: 30%;
}
.run-image {
  width: 100%;
  border-radius: 18px;
}
/* BMI calculator section styles */
.bmi-title {
  padding-top: 50px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
}
.bmi-subtitle {
  padding-bottom: 50px;
  text-align: center;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}
.bmi-calculator-container {
  background-color: rgba(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.bmi-table-title {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 20px;
}

td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
}
.bold-row {
  font-weight: 800px;
}
.bmi-table {
  border-collapse: collapse;
}
.bmi-form-title {
  font-size: 1.5rem;
  font-weight: 900;
}
.bmi-form-subtitle {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}
.bmi-content-1 {
  width: 40%;
}
.bmi-content-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 40%;
}
.form-container {
  width: 100%;
}
.input-div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
form input,
form select {
  color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 12px 40px 12px 20px;
  /* box-sizing: border-box; */
  border-radius: 5px;
  border: 1px solid;
  background: rgba(255, 255, 255, 0.1);
}
form option {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}
.select-activity {
  grid-column: span 2;
}
/* meet our team section styles */
.team-title {
  padding-top: 50px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
}
.team-subtitle {
  padding-bottom: 50px;
  text-align: center;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}
.trainer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}
.trainer-image-div {
  position: relative;
  width: 100%;
}
.trainer-image {
  width: 100%;
  height: 300px;
  border-radius: 18px;
}
.trainer-content {
  padding: 20px;
  position: absolute;
  bottom: 10px;
}
.trainer-name {
  font-weight: 700;
  margin-bottom: 5px;
}
.trainer-subtitle {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}
.meet-our-team-container {
  padding-bottom: 100px;
}
/* footer styles */
footer {
  height: auto;
  background-color: rgba(34, 34, 34);
}
.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content-1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.fitness-title {
  font-size: 3rem;
  font-weight: 800;
  color: rgb(230, 83, 60);
}
.fitness-subtitle {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}
.footer-content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.footer-content-2-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.get-started-list li {
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 10px;
}
.horizontal-line {
  max-width: 1200px;
  margin: 20px auto;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
.copyright-title {
  text-align: center;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  padding: 20px 0;
}
/* responsive styles*/
/* small devices */
@media screen and (max-width: 576px) {
  .nav {
    width: 90%;
  }
  .nav-menu {
    display: none;
  }
  .nav-icon {
    display: block;
  }
  .banner-container {
    flex-direction: column;
  }
  .banner-content-1 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
  .banner-title {
    font-size: 3rem;
  }
  .banner-content-2 {
    margin: 0 auto;
    width: 90%;
  }
  .banner-image-div {
    width: 100%;
  }
  .banner-image {
    width: 100%;
  }
  .five-hundred-plus {
    left: 170px;
    top: 50px;
  }
  .three-hundred-plus {
    bottom: 150px;
    left: 10px;
  }
  .five-hundred-plus p,
  .three-hundred-plus p {
    font-size: 0.6rem;
  }
  .habit-container {
    grid-template-columns: 1fr;
    padding-bottom: 20px;
  }
  .habit-title {
    padding-top: 10px;
    font-size: 2rem;
  }
  .habit-subtitle {
    padding: 10px;
  }
  .run-and-extra-container {
    margin-top: 50px;
    padding: 20px 0;
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }
  .run-and-extra-content {
    width: 90%;
    gap: 20px;
  }
  .run-subtitle {
    width: 100%;
  }
  .join-now-btn {
    width: 100%;
  }
  .run-image-div {
    width: 90%;
  }
  .team-title {
    padding-top: 10px;
    font-size: 2rem;
  }
  .team-subtitle {
    padding: 10px;
  }
  .trainer-container {
    grid-template-columns: 1fr;
    padding: 10px;
    width: 90%;
  }
  .footer-container {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  .footer-content-1 {
    width: 90%;
  }
  .footer-content-2 {
    margin-top: 20px;
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .horizontal-line {
    width: 90%;
  }
}
/* medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav {
    width: 90%;
  }
  .nav-menu {
    display: none;
  }
  .nav-icon {
    display: block;
  }
  .banner-container {
    flex-direction: column;
  }
  .banner-content-1 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
  .banner-title {
    font-size: 3rem;
  }
  .banner-content-2 {
    margin: 0 auto;
    width: 90%;
  }
  .banner-image-div {
    width: 100%;
  }
  .banner-image {
    width: 100%;
  }
  .five-hundred-plus {
    left: 250px;
    top: 50px;
  }
  .three-hundred-plus {
    bottom: 150px;
    left: 10px;
  }
  .five-hundred-plus p,
  .three-hundred-plus p {
    font-size: 0.6rem;
  }
  .habit-container {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
  }
  .habit-title {
    padding-top: 10px;
    font-size: 2rem;
  }
  .habit-subtitle {
    padding: 10px;
    width: 50%;
    margin: 0 auto;
  }
  .run-and-extra-container {
    margin-top: 50px;
    padding: 20px 0;
    width: 90%;
    gap: 20px;
  }
  .run-and-extra-content {
    width: 40%;
    gap: 20px;
  }
  .run-subtitle {
    width: 100%;
  }
  .join-now-btn {
    width: 100%;
  }
  .run-image-div {
    width: 40%;
  }

  .trainer-container {
    padding: 10px;
    width: 90%;
  }
  .footer-container {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  .footer-content-1 {
    width: 90%;
  }
  .footer-content-2 {
    margin-top: 20px;
    width: 90%;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
  }
  .horizontal-line {
    width: 90%;
  }
}
/* large devices */
@media screen and (min-width: 993px) and (max-width: 1260px) {
  .five-hundred-plus {
    left: 150px;
    top: 50px;
  }
  .run-and-extra-container {
    width: 90%;
  }
  .trainer-container {
    padding: 10px;
    width: 90%;
  }
  .horizontal-line {
    width: 90%;
  }
}
